.navbar {
    background-color: #000000bd;
    backdrop-filter: blur(5px);
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 100;
}

.logo {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.logo-p1 {
    font-size: 40px;
    margin: 0;
    color: #fff;
}

.logo-p2 {
    font-size: 20px;
    margin: 0;
    line-height: 20px;
    color: #fff;
}

.nav-1 {
    display: none;
}

.menu {
    margin-top: 10px;
    cursor: pointer;
}

.nav-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 200px;
    align-items: flex-end;
    justify-content: center;
    background-color: #000000bd;
    right: 0;
    margin-top: 20px;
    padding: 0 40px;
    animation: nav 1s forwards;
}

.route {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

@keyframes nav {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

.nav-2 a {
    line-height: 30px;
    color: #fff;
    transition: 0.5s all;
}

.nav-2 a:hover {
    transform: translateX(-2px);
    transition: all 0.2s;
}

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
    
    .nav-2 {
        display: none;
    }

    .nav-1 {
        display: flex;
        gap: 30px;
    }

    .nav-1 a {
        transition: 0.5s all;
    }

    .nav-1 a:hover {
        color: var(--color-6);
        transition: all 0.2s;
    }
}

@media screen and (min-width: 1024px) {
    
}