@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --color-1: #2a044a;
  --color-2: #0b2e59;
  --color-3: #676077;
  --color-4: #f6daab;
  --color-5: #dabd7b;
  --color-6: #d96632;

  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
